# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/

# IDE
.vscode/
.idea/

# Project specific
data/raw/*
data/processed/*
models/*
